body {
  background-color: rgb(240, 242, 245);
}

.site-layout .site-layout-background {
  background: #fff;
}
[data-theme="dark"] .site-layout .site-layout-background {
  background: #141414;
}
.main-card {
  max-width: 90%;
  margin: 50px auto;
  min-width: 600px;
  min-height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}
